@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.container-fluid {
    width: 100%;
    height: 100%;
    background-color: black;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 180px;
    background-color: rgb(1, 1, 1)
}

img.logo {
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    line-height: 25px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 600px;
    margin-top: -35px;
    height: 25px;
}

.navbar-brand {
    width: 90px;
    height: 90px;
    background-color: black;
    padding: 20px;
    position: fixed;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 35%;
    list-style: none;
    align-content: center;
}

.nav-link {
    color: orange;
    font-size: large;
    font-weight: bold;
    padding: 5px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-outline-nav {
    color: orange;
    background-color: transparent;
    background-image: none;
    border-color: darkorange;
}

.carousel-control-prev {
    opacity: 0;
}

.carousel-control-next {
    opacity: 0;
}

.d-block.w-100 {
    width: 100%;
    height: 160px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.blockequote {
    color: wheat;
    padding: 20px;
}

p {
    color: wheat;
    padding: 20px;
    padding-top: 50px;
}

.g-col-6 {
    background-color: beige;
    border: 2px;
    border-color: aqua;
    width: 252px;
    height: 348px;
    background-color: beige;
    border-radius: 10.5px;
    border-style: solid;
    padding: 10px;
    margin: 50px;
}

.main {
    display: inline-flex;
    height: 600px;
    background-color: black;
}

.caja {
    justify-content: center;
    width: 200px;
    height: 280px;
    background-color: white;
    border-color: lightgrey;
    border: 2px;
    border-style: outset;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 60px;
    text-align: center;
    border-width: 2px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px;
    border-color: lightgray;
}

.caja img {
    width: 160px;
    height: 200px;
    border: 5px;
    border-color: lightgray;
    box-shadow: 4px;
}

.h3 {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 100;
    text-align: center;
}

footer {
    grid-area: footer;
}

.footer {
    display: inline-flex;
    height: 180px;
    width: 100%;
}

.info {
    display: flex;
    width: 35%;
    height: 160px;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-size: 12px;
}

.redes {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 30%;
    height: 160px;
    padding: 5px;
}

.img-redes {
    padding: 5px;
    margin-top: 50px;
    width: 170px;
    height: 74px;
}

.a-pie {
    justify-content: center;
    padding: 30px;
    color: blue
}

a:hover {
    color: rgb(241, 56, 10);
    background-color: rgba(255, 255, 255, 0.712);
    padding: 30px;
    margin: 170px;
    justify-content: center;
}

.pfooter {
    position: absolute;
    margin-top: 160px;
    height: 10px;
    font-size: 10px;
    color: rgb(46, 44, 44);
}

.blue {
    color: rgba(131, 127, 127, 0.726);
    font-size: 13px;
}

@media (max-width:568px) {
    .header {
        width: 100%;
        height: 200px;
        padding: 10px;
        background-color: black
    }

    .btn-outline-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        gap: 0px;
        line-height: 2px;
    }

    
    .main {
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja {
        align-content: center;
        margin: 5px;
        padding: 0px;
        height: 220px;
        width: 180px;
    }

    .caja img {
        width: 140px;
        height: 170px;
        border: 5px;
        border-color: lightgray;
        box-shadow: 4px;
    }

    .h3 {
        font-family: "Roboto", sans-serif;
        font-size: medium;
        font-weight: 12px;
        text-align: center;
    }

    .footer {
        margin-top: 500px;
        height: 150px;
    }
}